<form [formGroup]="addProductForm">
  <ul class="list-unstyled">
    <li>
      <label for="title" class="form-label">Title</label>
      <input  id="title" formControlName="title"  type="text" placeholder="Title" class="form-control">
    </li>
    <li>
      <label for="description" class="form-label">Description</label>
      <input id="description" formControlName="description" type="text" placeholder="Description" class="form-control">
    </li>
    <li>
      <label for="price" class="form-label">Price</label>
      <input id="price" formControlName="price" type="number" placeholder="Price" class="form-control">
    </li>
    <li>
      <label for="qty" class="form-label">Qty</label>
      <input id="qty" formControlName="qty" type="number" placeholder="Qty" class="form-control">
    </li>
    <li>
      <label for="discount"  class="form-label">Discount</label>
      <input id="discount" formControlName="discount" type="number" placeholder="discount" class="form-control">
    </li>
    <li>
      <label for="currency" class="form-label">Currency</label>
      <select id="currency" formControlName="currency" class="form-select">
        <option>Select currency</option>
      </select>
    </li>
  </ul>
  <button (click)="addProduct()" type="button" class="btn btn-success">Add</button>
</form>
