<form>
  <ul class="list-unstyled">
    <li>
      <label for="title" class="form-label">Title</label>
      <input id="title" type="text" placeholder="Title" class="form-control">
    </li>
    <li>
      <label for="description" class="form-label">Description</label>
      <input id="description" type="text" placeholder="Description" class="form-control">
    </li>
    <li>
      <label for="price" class="form-label">Price</label>
      <input id="price" type="number" placeholder="Price" class="form-control">
    </li>
    <li>
      <label for="qty" class="form-label">Qty</label>
      <input id="qty" type="number" placeholder="Qty" class="form-control">
    </li>
    <li>
      <label for="discont" class="form-label">Discont</label>
      <input id="discont" type="number" placeholder="Discont" class="form-control">
    </li>
    <li>
      <label for="currency" class="form-label">Currency</label>
      <select id="currency" class="form-select">
        <option>Select currency</option>
      </select>
    </li>
  </ul>
  <button type="button" class="btn btn-success">Add</button>
</form>
