<div class="cart">
  <button class="btn btn-primary" type="button">Cart</button>
  <ul class="products-list list-unstyled">
    <li>
      <h5>p1</h5>
      <button class="btn btn-primary" type="button">Remove</button>
      <hr>
    </li>
    <li>
      <h5>p2</h5>
      <button class="btn btn-primary" type="button">Remove</button>
      <hr>
    </li>
    <li>
      <h5>p3</h5>
      <button class="btn btn-primary" type="button">Remove</button>
      <hr>
    </li>
    <li>
      <h5>p4</h5>
      <button class="btn btn-primary" type="button">Remove</button>
      <hr>
    </li>
    <li>
      <h5>p5</h5>
      <button class="btn btn-primary" type="button">Remove</button>
      <hr>
    </li>
  </ul>
</div>
