@import 'bootstrap';

.flex {
  display: flex;
  &.revers {
    flex-direction: row-reverse;
  }
}

main {
  width: 70%;
  margin: 0 auto;
}

.nav-item, .link-primary {
  text-decoration: none;
  .active {
    text-decoration: underline;
  }
}
